# Build dirs
/build/
/out/
/cmake-build-*/
build/
/documentation/AI

# CMake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
Testing/

# Ninja
.ninja_deps
.ninja_log
build.ninja

# Qt Creator
*.pro.user
*.pro.user.*
CMakeLists.txt.user
.qtcreator/
.qtc_clangd/

# Generic
*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
*.tmp
temp*
.temp*

# Logs
*.log

.idea/
