# Build dirs
/build/
/out/
/cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
Testing/

# Ninja
.ninja_deps
.ninja_log
build.ninja

# Qt Creator
*.pro.user
*.pro.user.*
CMakeLists.txt.user
.qtcreator/
.qtc_clangd/

# NetBeans legacy
/projects/**/build/
/projects/**/dist/
/projects/**/nbproject/private/

# Generic
*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe

# Logs
*.log
