# LaTeX build artifacts for the GenESyS manual source tree.
*.aux
*.bbl
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glg
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
main.pdf
ManualGenESyS.pdf
apostila_modelagem_simulacao.pdf
